<footer class="page-footer ">    
    <!-- Social icons -->
    <div class="pb-2 mt-2">
     &nbsp;&nbsp;&nbsp;
      <a href="https://www.facebook.com/#" target="_blank">
        <i class="fab fa-facebook-f mr-4"></i>
      </a>
      <a href="https://twitter.com/#" target="_blank">
        <i class="fab fa-twitter mr-4"></i>
      </a>
      <a href="https://www.youtube.com/#" target="_blank">
        <i class="fab fa-youtube mr-4"></i>
      </a>
      <a href="https://plus.google.com/#" target="_blank">
        <i class="fab fa-google-plus-g mr-4"></i>
      </a>
    </div>
    <div class="footer-copyright py-1">
      E-commerce Website by Django
    </div>
  </footer>

